<div class="container-fluid content">
  <div class="row">
    <div class="col-sm">
      <h5>Appearance</h5>
      <p>
        <button class="btn btn-secondary barbenheimer"></button>
      </p>
      <h5>Home</h5>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
    <div class="col-sm">
      <h5>Results</h5>
      <ul>
        <li><a href="/live">Live chart 📈</a></li>
        <li><a href="/scoreboard">Scoreboard</a></li>
        <li><a href="/results">Categories</a></li>
      </ul>
    </div>
    <div class="col-sm">
      <h5>About</h5>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/recap/95">2023 Recap</a></li>
        <li><a href="/recap/94">2022 Recap</a></li>
        <li><a href="/recap/93">2021 Recap</a></li>
      </ul>
    </div>
    <div class="col-sm"></div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
<script src="/js/main.js"></script>
