<title>{{#if title }}{{ title }}{{ else }}My 20 Year Oscar Hell{{/if }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="Nick Manton">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="My 20 Year Oscar Hell">
<meta property="og:type" content="website">
<meta property="og:description" content="Predict the winners of the 95th Academy awards">
<meta property="og:image" content="https://oscars.mxxyqh.com/img/barbie_dropshadow2.png">

<link rel="stylesheet" href="/css/main.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
