<div id="messages">

  {{#if message }}
  <div class="alert alert-{{#if message_err }}danger{{ else }}success{{/if }} alert-dismissable fade show" role="alert">
    <span class="alert-icon"><i class="fas fa-{{#if message_err }}exclamation{{ else }}check{{/if }}-circle" aria-hidden="true"></i></span>
    <span class="alert-text">{{{ message_text }}}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{/if}}

</div>
