<div id="messages">

  {{#if signup.error }}
  <div class="alert alert-danger alert-dismissable fade show" role="alert">
    <span class="alert-icon"><i class="fas fa-exclamation-circle" aria-hidden="true"></i></span>
    <span class="alert-text">Something went wrong in registering your details. The error code was: {{ signup.error }}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{/if}}

  {{#if signup.code }}
  <div class="alert alert-success alert-dismissable fade show" role="alert">
    <span class="alert-icon"><i class="fas fa-check-circle" aria-hidden="true"></i></span>
    <span class="alert-text">Signup successful! Your code is <strong>{{ signup.code }}</strong>. Use this to make your predictions at <a href="/player/{{ signup.code }}">https://oscars.mxxyqh.com/player/{{ signup.code }}</a> (You'll get an email too).</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{/if}}

  {{#if error }}
  <div class="alert alert-danger alert-dismissable fade show" role="alert">
    <span class="alert-icon"><i class="fas fa-exclamation-circle" aria-hidden="true"></i></span>
    <span class="alert-text">Sorry, that doesn't appear to be a valid code.</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{/if}}

</div>
