<section id="signup">
  <h4>Sign up</h4>
  <div>
    {{#if expired }}
    <p class="alert alert-danger">The deadline for making predictions has now expired. See the <a href="/scoreboard">leaderboard</a> page to see how you did.<br />or see the <a href="/results">results</a> for each category.</p>
    {{else}}
    <p>Enter your name and email to get started. The deadline for entering or changing predictions is <b>{{ deadline }}</b>.</p>
    <form method="post" action="/signup">
      <div class="signup-container">
        <label for="username">What's your name? <span class="sub-label"> This is how you'll appear on the leaderboard (3-25 chars)</span></label>
        <input autocomplete="off" placeholder="e.g. {{ signups.uid }}" id="username" name="username" type="text" maxlength="25">
        <span id="username-not-valid" class="intrainput"></span>
      </div>
      <div class="signup-container">
        <label for="email">What's your email? <span class="sub-label">To send you login details and results</span></label>
        <input autocomplete="off" placeholder="e.g. {{ signups.email }}" id="email" name="email" type="email">
        <span id="email-not-valid" class="intrainput"></span>
      </div>
      <p><span class="sub-label">You'll receive a single email with signup details and one with the results after the ceremony. Your email will not be used for any other purpose, nor passed to any third party.</span></p>
      <input id="signup-submit" type="submit" class="btn btn-success" value="Sign up" />
    </form>
    {{/if }}    
  </div>
</section>