<!DOCTYPE html>
<html>
  <head>
    {{>head }}    
  </head>
  <body class="overlay">
    {{{ body }}}
    <footer class="container-fluid">
      {{>footer }}
    </footer>
    <div class="debug">
      <h5>Debug:</h5>
      <pre>{{ debug }}</pre>
    </div>
  </body>
</html>