<!DOCTYPE html>
<html>
  <head>
    {{>head }}    
  </head>
  <body class="overlay">
    {{>messages }}
    {{{ body }}}
    {{#if env }}{{#if debug }}
    {{/if }}{{/if }}  
    <footer class="container">
      {{>footer }}
    </footer>
  
  </body>
</html>