<!DOCTYPE html>
<html>
  <head>
    {{>head }}    
  </head>
  <body class="overlay">
    <a href="/">
      <header>
        {{>messages }}
        <div></div>
      </header>
    </a>
    {{{ body }}} 
    <footer>
      {{>footer }}
    </footer>
    {{#if debug }}
    <div class="debug">
      <pre>{{ debug }}</pre>
    </div>
    {{/if }}
  </body>
  {{!-- <script>
  if (localStorage.getItem('barbenheimer') == 'o') {
    document.querySelector('body').classList.add('oppen');
    document.querySelector('body').classList.remove('barbie'); 
  } else {
    document.querySelector('body').classList.add('barbie');
    document.querySelector('body').classList.remove('oppen');
  }
  </script> --}}
</html>