<div class="top-pad-40"></div>
<section class="content container-fluid">
  <div class="row">
    <div class="col">
      <h3>My 404 Oscar Hell</h3>
      <p>Sometimes getting the right name is hard, and there's nothing called <code>{{ ref }}</code> on this server. Go back to the <a href="/">home page</a>.</p>
      <iframe src="https://giphy.com/embed/liGlMmpKaQM36" width="576" height="231" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      <p><a href="https://giphy.com/gifs/john-travolta-idina-menzel-adele-dazeem-liGlMmpKaQM36">via GIPHY</a></p>
      
    </div>
  </div>
</section>