<div class="top-pad"></div>
<section class="content container-fluid row">
  <div class="col">
    <h4>About</h4>
    <p>This is the fifth annual Oscars prediction contest. It's free to enter (but then bragging rights are the only prize). To sign up, go to the front page and enter your name (as you want it to appear in the results) and email address (so you can be sent your unique code).</p>
    <a target="_blank" href="https://www.themoviedb.org/"><img src="/img/tmdb.png" style="max-width: 8em;" alt="all images provided by themoviedb.org" /></a>
    <h4>Privacy</h4>
    <p>You will only get one email to confirm sign up and one with the final results.</p><p>Addresses will not be used for any other purpose.</p><p>No cookies are set or used on this site.</p>    
  </div>
  <div class="col">
    <h4>History</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Competition</th>
          <th>Place</th>
          <th>Player</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="3">1st (2014)<br><img src="/img/history/screenshot-2014.png" alt="2014" style="max-height: 4em;"></td>
          <td>1st</td>
          <td>Karen <small>21</small></td>
        </tr>
        <tr>
          <td>2nd</td>
          <td>Tav <small>20</small></td>
        </tr>
        <tr>
          <td>3rd</td>
          <td>Ohs! <small>19</small></td>
        </tr>
        <tr>
          <td rowspan="3">2nd (2015)<br><img src="/img/history/screenshot-2015.png" alt="2015" style="max-height: 4em;"></td>
          <td>1st</td>
          <td>Tav <small>19</small></td>
        </tr>
        <tr>
          <td>2nd=</td>
          <td>Karen <small>14</small></td>
        </tr>
        <tr>
          <td>2nd=</td>
          <td>Ohs! <small>14</small></td>
        </tr>
        <tr>
          <td rowspan="3">3rd (2016)<br><img src="/img/history/screenshot-2016.png" alt="2016" style="max-height: 4em;"></td>
          <td>1st</td>
          <td>Karen <small>48</small></td>
        </tr>
        <tr>
          <td>2nd</td>
          <td>Tav <small>47</small></td>
        </tr>
        <tr>
          <td>3rd</td>
          <td>JamesR <small>46</small></td>
        </tr>
        <tr>
          <td rowspan="3">4th (2017)<br><img src="/img/history/screenshot-2017.png" alt="2017" style="max-height: 4em;"></td>
          <td>1st</td>
          <td>Karen <small>51</small></td>
        </tr>
        <tr>
          <td>2nd</td>
          <td>Tav <small>47</small></td>
        </tr>
        <tr>
          <td>3rd</td>
          <td>Meg <small>45</small></td>
        </tr>
      </tbody>
    </table>
  </div>

</section>