<div class="top-pad">
  <div>WELCOME TO THE 9TH ANNUAL</div>
</div>
<section class="content container">
  <div class="row">
  <div>
    <h4>About</h4>
    <p>This is the 9th M20YQH Oscars prediction contest. It's free to enter (bragging rights are the only prize). To sign up, go back to the <a href="/">home</a> page and enter your name (as you want it to appear in the results) and email address (so you can be sent your unique login code). Optionally you can specify a team to compare yourself to other team members</p>
    <p>Images have been provided by <a href="https://www.themoviedb.org">themoviedb</a></p>
    <a target="_blank" href="https://www.themoviedb.org/"><img src="/img/tmdb.png" style="max-width: 8em;" alt="all images provided by themoviedb.org" /></a>
    <h4>Privacy</h4>
    <p>You will only get one email to confirm sign up and one with the final results. Email addresses and any other personal information will not be used for any other purpose.</p>   
  </div>
  <div style="width: 100%">
    <h4>Roll of honour</h4>
    <table class="roh table">
      <thead>
        <tr>
          <th>Year</th>
          <th>1st Place</th>
          <th>2nd Place</th>
          <th>3rd Place</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2014</td>
          <td>Karen - 21</td>
          <td>Tav - 20</td>
          <td>Ohs! - 19</td>
        </tr>
        <tr>
          <td>2015</td>
          <td>Tav - 19</td>
          <td>Karen - 14<br />Ohs! - 14</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>2016</td>
          <td>Karen - 48<sup>&dagger;</sup></td>
          <td>Tav - 47</td>
          <td>JamesR - 46</td>
        </tr>
        <tr>
          <td>2017</td>
          <td>Karen - 51</td>
          <td>Tav - 47</td>
          <td>Meg - 45</td>
        </tr>
        <tr>
          <td>2018</td>
          <td>Tav - 58</td>
          <td>Karen - 56</td>
          <td>JamesR - 48</td>
        </tr>
        <tr>
          <td>2019</td>
          <td>Saif - 39<sup>&Dagger;</sup></td>
          <td>Tav - 39</td>
          <td>Robin - 35</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>Tav - 61</td>
          <td>Karen - 54</td>
          <td>Robin - 52<br />JimmyR - 52</td>
        </tr>
        <tr>
          <td>2021</td>
          <td>Jamie - 38<sup>&dagger;&dagger;</sup></td>
          <td>Ian - 32</td>
          <td>Karen - 30</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>Robin - 28.6</td>
          <td>Ian - 28.3</td>
          <td>Tav - 26.1</td>
        </tr>
      </tbody>
    </table>

    <small>
      <p>* - 1pt per category</p>
      <p>&dagger; - old scoring</p>
      <p>&Dagger; - tie-break</p>
      <p>&dagger;&dagger; - current scoring</p>
    </small>
    
  </div>
  </div>

</section>