<div class="top-pad"></div>
<section class="content container-fluid">
  <h4>About</h4>
  <p>This is the fifth annual Oscars prediction contest. It's free to enter (but then bragging rights are the only prize). To sign up, go to the front page and enter your name (as you want it to appear in the results) and email address (so you can be sent your unique code).</p>
  <a target="_blank" href="https://www.themoviedb.org/"><img src="/img/tmdb.png" style="max-width: 8em;" alt="all images provided by themoviedb.org" /></a>
  <h4>History</h4>
  <div class="row">
    <div class="col">
      <h5>2014</h5>
      <img style="max-width: 80%;" src="/img/history/screenshot-2014.png" alt="2014">
        1.  Karen <b>21 points</b>
        2.  Tav <b>20 points</b>
        3.  Ohs! <b>19 points</b>
    </div>
    <div class="col">
      <h5>2015</h5>
      <img style="max-width: 80%;" src="/img/history/screenshot-2015.png" alt="2015">
        1.  Tav <b>19 points</b>
        2=. Karen <b>14 points</b>
        2=. Ohs! <b>14 points</b>
    </div>
    <div class="col">
      <h5>2016</h5>
      <img style="max-width: 80%;" src="/img/history/screenshot-2016.png" alt="2016">
        1. Karen <b>48 points</b>
        2. Tav <b>47 points</b>
        3. JamesR <b>46 points</b>
    </div>
    <div class="col">
      <h5>2017</h5>
      <img style="max-width: 80%;" src="/img/history/screenshot-2017.png" alt="2017">
        1. Karen <b>51 points</b>
        2. Tav <b>47 points</b>
        3. Meg <b>45 points</b>
    </div>
  </div>
  <h4>Privacy</h4>
  <p>You will only get one email to confirm sign up and one with the final results.</p><p>Addresses will not be used for any other purpose.</p><p>No cookies are set or used on this site.</p>
</section>