<div class="top-pad">
  <div>WELCOME TO THE 8TH ANNUAL</div>
</div>
<section class="content container">
  <div class="row">
  <div>
    <h4>About</h4>
    <p>This is the 8th M20YQH Oscars prediction contest. It's free to enter (but bragging rights are the only prize). To sign up, go back to the <a href="/">home</a> page and enter your name (as you want it to appear in the results) and email address (so you can be sent your unique login code). Optionally you can specify a team to compare yourself to other team members</p>
    <p>Images have been provided by <a href="https://www.themoviedb.org">themoviedb</a></p>
    <a target="_blank" href="https://www.themoviedb.org/"><img src="/img/tmdb.png" style="max-width: 8em;" alt="all images provided by themoviedb.org" /></a>
    <h4>Privacy</h4>
    <p>You will only get one email to confirm sign up and one with the final results. Email addresses and any other personal information will not be used for any other purpose.</p>   
  </div>
  <div>
    <h4>Roll of honour</h4>
    <table class="table roh">
      <thead>
        <tr>
          <th>Competition</th>
          <th>Place</th>
          <th>Player</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="3">1st (2014)<br></td>
          <td>1st</td>
          <td>Karen <i><small>(21pts<sup>*</sup>)</small></td></i>
        </tr>
        <tr>
          <td>2nd</td>
          <td>Tav <i><small>(20)</small></td></i>
        </tr>
        <tr>
          <td>3rd</td>
          <td>Ohs! <i><small>(19)</small></td></i>
        </tr>
        <tr>
          <td rowspan="3">2nd (2015)<br></td>
          <td>1st</td>
          <td>Tav <i><small>(19)</small></td></i>
        </tr>
        <tr>
          <td>2nd=</td>
          <td>Karen <i><small>(14)</small></td></i>
        </tr>
        <tr>
          <td>2nd=</td>
          <td>Ohs! <i><small>(14)</small></td></i>
        </tr>
        <tr>
          <td rowspan="3">3rd (2016)<br></td>
          <td>1st</td>
          <td>Karen <i><small>(48<sup>&dagger;</sup>)</small></td></i>
        </tr>
        <tr>
          <td>2nd</td>
          <td>Tav <i><small>(47)</small></td></i>
        </tr>
        <tr>
          <td>3rd</td>
          <td>JamesR <i><small>(46)</small></td></i>
        </tr>
        <tr>
          <td rowspan="3">4th (2017)<br></td>
          <td>1st</td>
          <td>Karen <i><small>(51)</small></td></i>
        </tr>
        <tr>
          <td>2nd</td>
          <td>Tav <i><small>(47)</small></td></i>
        </tr>
        <tr>
          <td>3rd</td>
          <td>Meg <i><small>(45)</small></td></i>
        </tr>
        <tr>
          <td rowspan="3">5th (2018)<br></td>
          <td>1st</td>
          <td>Tav <i><small>(58)</small></td></i>
        </tr>
        <tr>
          <td>2nd</td>
          <td>Karen <i><small>(56)</small></td></i>
        </tr>
        <tr>
          <td>3rd</td>
          <td>James R <i><small>(48)</small></td></i>
        </tr>
        <tr>
          <td rowspan="3">6th (2019)<br></td>
          <td>1st</td>
          <td>Saif <i><small>(39<sup>&Dagger;</sup>)</small></td></i>
        </tr>
        <tr>
          <td>2nd</td>
          <td>Tav <i><small>(39)</small></td></i>
        </tr>
        <tr>
          <td>3rd</td>
          <td>Robin <i><small>(35)</small></td></i>
        </tr>
        <tr>
          <td rowspan="4">7th (2020)<br></td>
          <td>1st</td>
          <td>Tav <i><small>(61)</small></i></td>
        </tr>
        <tr>
          <td>2nd</td>
          <td>Karen <i><small>(54)</small></i></td>
        </tr>
        <tr>
          <td>3rd=</td>
          <td>Robin <i><small>(52)</small></i></td>
        </tr>
        <tr>
          <td>3rd=</td>
          <td>JimmyR <i><small>(52)</small></i></td>
        </tr>
      </tbody>
    </table>
    <small>
      <p>* - 1pt per category</p>
      <p>&dagger; - current scoring</p>
      <p>&Dagger; - tie-break</p>
    </small>
    
  </div>
  </div>

</section>