<section class="content container">
  <div class="row">
  <div>
    <h4>About</h4>
    <p>This is the 11th M20YQH Oscars prediction contest. It's free to enter (bragging rights are the only prize). To sign up, go back to the <a href="/">home</a> page and enter your name (as you want it to appear in the results) and email address (so you can be sent your unique login code).</p>
    <p>Images have been provided by <a href="https://www.themoviedb.org">themoviedb</a></p>
    <a target="_blank" href="https://www.themoviedb.org/"><img src="/img/tmdb.png" style="max-width: 8em;" alt="all images provided by themoviedb.org" /></a>

    <h4>Changes</h4>
    <p>You can switch between appearances by toggling the button in the footer.</p>
    <p>The home page will remember who you, and provide a quick link to your prediction page.</p>

    <h4>Changes (2023)</h4>
    <p>This year there is a <a href="/live">live chart</a> showing the score progress through the night in order of awards given, and you will see a progress indicator on the predictions screen, showing for which categories you still have a prediction to make.</p>
    <p>There will be a couple of 'bot' ({{>robot }}) players, such as one that makes random picks or one that picks the bookies' favourites - the idea being you can benchmark yourself against these - you should be doing better than random chance, and getting close to the experts' scores means you're doing quite well. (You can always hide them on the <a href="/scoreboard">scoreboard</a>).</p>
    <p>I've removed the 'franchise' option when signing up, since that hasn't really been used.</p>

    <h4>Privacy</h4>
    <p>You will only get one email to confirm sign up, and one with the final results. Email addresses and any other personal information will not be used for any other purpose.</p>   
  </div>
  <div style="width: 100%">
    <h4>Roll of honour</h4>
    <table class="roh table">
      <thead>
        <tr>
          <th scope="col">Year</th>
          <th scope="colgroup" class="text-center" colspan="2">1st Place</th>
          <th scope="colgroup" class="text-center" colspan="2">2nd Place</th>
          <th scope="colgroup" class="text-center" colspan="2">3rd Place</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2014</td>
          <td>Karen</td>
          <td>21</td>
          <td>Tav</td>
          <td>20</td>
          <td>Ohs!</td>
          <td>19</td>
        </tr>
        <tr>
          <td>2015</td>
          <td>Tav</td>
          <td>19</td>
          <td>Karen / Ohs!</td>
          <td>14</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>2016</td>
          <td>Karen</td>
          <td>48</td>
          <td>Tav</td>
          <td>47</td>
          <td>JamesR</td>
          <td>46</td>
        </tr>
        <tr>
          <td>2017</td>
          <td>Karen</td>
          <td>51</td>
          <td>Tav</td>
          <td>47</td>
          <td>Meg</td>
          <td>45</td>
        </tr>
        <tr>
          <td>2018</td>
          <td>Tav</td>
          <td>58</td>
          <td>Karen</td>
          <td>56</td>
          <td>JamesR</td>
          <td>48</td>
        </tr>
        <tr>
          <td>2019</td>
          <td>Saif<sup>&dagger;</sup></td>
          <td>39</td>
          <td>Tav</td>
          <td>39</td>
          <td>Robin</td>
          <td>35</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>Tav</td>
          <td>61</td>
          <td>Karen</td>
          <td>54</td>
          <td>Robin / JimmyR</td>
          <td>52</td>
        </tr>
        <tr>
          <td><a href="/recap/93">2021</a></td>
          <td>Jamie</td>
          <td>38</td>
          <td>Ian</td>
          <td>32</td>
          <td>Karen</td>
          <td>30</td>
        </tr>
        <tr>
          <td><a href="/recap/94">2022</a></td>
          <td>Robin</td>
          <td>28.6</td>
          <td>Ian</td>
          <td>28.3</td>
          <td>Tav</td>
          <td>26.1</td>
        </tr>
        <tr>
          <td><a href="/recap/95">2023</a></td>
          <td>Karen</td>
          <td>28.01</td>
          <td>Tav</td>
          <td>23.12</td>
          <td>Top Gun: Ian</td>
          <td>23.07</td>
        </tr>
      </tbody>
    </table>

    <small class="figure-caption" style="text-align: left;">
      <p>&dagger; - tie-break<br />
      2014 &amp; 2015 were both 1 point per category.<br >
      2016-2020 points were weighted depending on the category<br >
      2021 used the number of correct predictions in a category divided by all predictions<br >
      2022- as 2021, except dampening the score to reduce the variability in points<br >
      </p>
    </small>
    
  </div>
  </div>

</section>