<div class="top-pad">
  <div>WELCOME TO THE 7TH ANNUAL MY</div>
</div>
<div class="content container-fluid">

  <div class="row">
    <div class="col-sm">
      <h4>How it works</h4>
      <ol>
        <li>Sign up below to get a unique <code>code</code></li>
        <li>(Optionally) add a team name to compare yourself to others in the team.</li>
        <li>Go to your predictions page (e.g. <code>https://oscars.mantonbradbury.com/player/CODE</code>)</li>
        <li>Pick your winner for each of the 24 categories</li>
        <li>Each category is worth 2,3 or 4 points depending on number of nominees and 'popularity'</li>
      </ol>      
    </div>
    <div class="col-sm">
    {{>signup }}     
    </div>
  </div>

</div>
