<div class="top-pad">
  <div>WELCOME TO THE 9TH ANNUAL</div>
</div>
<div class="content container-fluid">

  <div class="row">
    <div class="">
      <p>Predict the winner of each of the <a href="https://www.oscars.org/oscars/ceremonies/2022"> 94rd Academy Awards</a>. Sign up below with your email to get a unique URL for your predictions</p>
      <h4>How it works</h4>
      <ol>
        <li>Sign up below to get a unique <code>code</code></li>
        <li>(Optionally) add a team name to compare yourself to others in the team.</li>
        <li>Go to your predictions page (e.g. <code>https://oscars.mxxyqh.com/player/CODE</code>)</li>
        <li>Pick your winner for each of the 23<sup>*</sup> categories</li>
      </ol>
      <p><sup>*</sup> Sound Editing and South Mixing have been combined into a single Sound category.</p>
      <p>Also new for the prediction competition is the scoring system. Rather than fixed points per category, points are scored based on the number of correct predictions.</p>
      <p>For examples, if there were 10 predictions in a category, and 4 correct, then each correct prediction would score 10/4 = 2.5pts.</p>
    </div>
    <div class="">
    {{>signup }}     
    </div>
  </div>

</div>
