<div class="content container-fluid">
  <div class="row">
    <div class="">
      <p>Welcome to the tenth anniversary of the My 20 Year Oscar Hell competition - which means somehow it's lasted longer than WWII or The Beatles' recording career (though still shorter than the LotR Blu-Ray extended edition). Back then, <a target="_blank" href="https://www.themoviedb.org/movie/76203-12-years-a-slave">12 Years a Slave</a> ran out the Best Picture Winner, with McConaughey and Blanchett taking the major acting awards (well, one of them might repeat this year), and the predictions were a very low tech <a href="https://docs.google.com/spreadsheets/d/192ZVzyPeeeNwzYTydXwch26BkVJcfSxKds-ZBmvO5mM/edit#gid=0">spreadsheet</a>.</p>
      <p>No matter what the scoring system is, <em>someone</em> will complain, so I'm making no changes this year. The scoring will remain as <code>√(correct predictions/all predictions)</code> for each category.
      </p>
      <h4>How it works</h4>
      <ol>
        <li>Complete the form below to receive a unique <code>code</code></li>
        <li>Go to your predictions page (e.g. <code>https://oscars.mxxyqh.com/player/CODE</code>)</li>
        <li>Pick a winner for each of the 23 categories</li>
      </ol>
    </div>
    <div class="signup">
    {{>signup }}
    </div>
  </div>
</div>
