<div class="" style="color: red; background: black; text-align: center; font-style: italic; font-family: Marker Felt; font-size: 2em; font-weight: bold;">
  <p style="">Tenth Aniversary</p>
  <img src="/img/mxxyqh10_white.png" alt="My 20 Year Oscar Hell Logo" style="width: 100%;">
</div>
<div class="content container-fluid">
  <div class="row">
    <div class="">
      <p>Predict the winner of each of the <a href="https://www.oscars.org/oscars/ceremonies/2022"> 94th Academy Awards</a>. Sign up below with your email to get a unique URL for your predictions</p>
      <h4>How it works</h4>
      <ol>
        <li>Sign up below to get a unique <code>code</code></li>
        <li>(Optionally) add a team name to compare yourself to others in the team.</li>
        <li>Go to your predictions page (e.g. <code>https://oscars.mxxyqh.com/player/CODE</code>)</li>
        <li>Pick your winner for each of the 23 categories</li>
      </ol>
      <p>The scoring system will be the same as last year, but adjusted to prevent one category dominating the overall standings.
        The points for each correct prediction will be calculated as<br />
        (predictions / correct predictions)<sup>1/2</sup>
      </p>
    </div>
    <div class="">
    {{>signup }}     
    </div>
  </div>
</div>
