<div class="top-pad">
  <div>WELCOME TO THE 9TH ANNUAL MY</div>
</div>

<div class="content container-fluid">
  <h2>Categories</h2>
  <ul>
  {{#each list }}
  <li><a href="/category/{{ id }}">{{ name }}</a></li>
  {{/each }}
  </ul>

</div>
