<div class="content container-fluid">
  <h2>Categories</h2>
  <div class="grid">
    {{#each list }}
    <div class="cat-list align-middle">
      <a class="d-flex align-items-center" href="/category/{{ id }}">
        <p class="text-break">{{ name }}</p>
      </a>
    </div>
    {{/each }}
  </div>
</div>
