<section class="content">
  <h4>9th M20YOH Recap (94th Ceremony)</h4>
  <p>Another year, another different winner - the fourth in as many years. Well done to <b>Robin</b> for a maiden win, following one third place appearance in 2019.</p>
  <p>After his dramatic last minute <a href="/recap/93">victory</a> on the final category last year, <b>Jamie</b> came in a still-respectable 5th place. Speaking of last year, it appears <b>Ian</b> is destined to be the Buffalo Bills/Jimmy White of this competition with a second consecutive close second place.</p>
  <p>Ian and Robin were neck-and-neck for the first 19 awards, until Ian pulled away on Original Song. It looked like he had it wrapped up until a punt on Penelope Cruz for Best Actress allowed Robin to sneak ahead. With both having picked <i>CODA</i> for Best Picture it was game over. 
  </p>
  <p>Third place went to <b>Tav</b>, back on the podium after missing out for the first time ever last year.</p>
  <p>After the extreme scoring last year with Jamie leapfrogging four other players on the final category, I decided to tweak the scoring system slightly. Instead of calculating  <code>(predictions / correct predictions)</code>, I took the square root of the result to dampen some of the very high scores, but still reward risk-taking. As Ian and Robin differed on only two categories, this didn't end up having a material impact on the leaderboard.</p>

  <figure class="highcharts-figure">
    <div id="container"></div>
    <figcaption class="figure-caption">The chart shows how the scores changed over time from the first awarded category to the end. Click on the legend to hide/unhide lines.</figcaption>
  </figure>

</section>
<style>td > span { padding: 2px; }</style>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script>
  $(document).ready(function() {
    var chart = Highcharts.chart('container', {
      chart: {
        type: 'line',
        height: 600
      },
      credits: { enabled: false },
      title: {
        text: 'Scores over time'
      },
      yAxis: {
        title: {
            text: 'Points'
        }
      },
      xAxis: {
        categories: ['Sound','Documentary Short','Animated Short','Live Action Short','Original Score','Film Editing','Production Design','Makeup','Supporting Actress','Cinematography','Visual Effects','Animated Film','Supporting Actor','International Feature','Costume Design','Original Screenplay','Adapted Screenplay','Documentary Feature','Original Song','Director','Actor','Actress','Picture'],
        title: {
          text: 'Category'
        },
        labels: {
          rotation: 90
        }
      },
      series: [{
        name: 'Beca Mitchell/Ian',
        data: [1.34,2.94,2.94,4.28,5.56,7.06,8.19,9.6,10.78,12.06,13.28,14.5,15.84,17.06,18.34,20.46,22.06,23.24,24.42,25.48,26.61,26.61,28.34]
      }, {
        name: 'Caile',
          data: [1.34,1.34,1.34,2.68,2.68,2.68,3.81,5.22,6.4,7.68,8.9,8.9,10.24,11.46,12.74,14.86,14.86,16.04,16.04,17.1,18.23,18.23,18.23]
      }, {
        name: 'Colman',
        data: [0,0,0,0,1.28,1.28,2.41,3.82,5,6.28,7.5,8.72,10.06,10.06,11.34,11.34,11.34,12.52,13.7,13.7,14.83,16.33,16.33]
      }, {
        name: 'Geoff',
        data: [1.34,2.94,4.67,6.01,7.29,7.29,8.42,8.42,8.42,8.42,9.64,10.86,10.86,10.86,10.86,10.86,10.86,12.04,13.22,14.28,14.28,14.28,14.28]
      }, {
        name: 'James (the Rees One)',
        data: [0,0,1.73,3.07,4.35,4.35,5.48,5.48,5.48,6.76,6.76,6.76,8.1,9.32,10.6,10.6,10.6,11.78,11.78,12.84,13.97,15.47,15.47]
      }, {
        name: 'Jamie',
        data: [1.34,2.94,2.94,4.28,5.56,7.06,8.19,9.6,10.78,12.06,13.28,13.28,14.62,15.84,17.12,17.12,18.72,19.9,19.9,20.96,22.09,22.09,23.82]
      }, {
        name: 'Jules',
        data: [0,0,0,1.34,2.62,4.12,5.25,5.25,6.43,6.43,7.65,8.87,8.87,8.87,10.15,10.15,10.15,10.15,11.33,12.39,13.52,13.52,13.52]
      }, {
        name: 'Karen',
        data: [1.34,1.34,1.34,2.68,3.96,5.46,6.59,8,9.18,9.18,10.4,11.62,12.96,14.18,15.46,15.46,17.06,18.24,19.42,20.48,21.61,23.11,24.84]
      }, {
        name: 'Lewis',
        data: [1.34,1.34,3.07,3.07,4.35,5.85,6.98,6.98,6.98,8.26,9.48,9.48,9.48,10.7,10.7,10.7,10.7,11.88,13.06,14.12,15.25,16.75,16.75]
      }, {
        name: 'Madison O',
        data: [0,1.6,1.6,1.6,1.6,3.1,4.23,4.23,4.23,4.23,4.23,5.45,5.45,5.45,5.45,5.45,5.45,5.45,5.45,5.45,5.45,5.45,5.45]
      }, {
        name: 'Nahreen',
        data: [0,0,1.73,1.73,1.73,1.73,1.73,1.73,2.91,2.91,2.91,4.13,4.13,4.13,4.13,6.25,7.85,7.85,9.03,10.09,11.22,11.22,11.22]
      }, {
        name: 'Natalie',
        data: [1.34,1.34,3.07,3.07,3.07,3.07,4.2,5.61,5.61,6.89,8.11,8.11,8.11,9.33,9.33,9.33,9.33,9.33,10.51,11.57,11.57,11.57,11.57]
      }, {
        name: 'nick',
        data: [1.34,2.94,2.94,4.28,5.56,5.56,5.56,6.97,8.15,8.15,9.37,10.59,11.93,13.15,14.43,14.43,14.43,15.61,16.79,17.85,18.98,20.48,20.48]
      }, {
        name: 'Radders',
        data: [0,0,0,0,0,0,0,0,1.18,2.46,2.46,3.68,5.02,6.24,7.52,7.52,9.12,10.3,11.48,12.54,13.67,13.67,15.4]
      }, {
        name: 'RJS',
        data: [0,0,1.73,1.73,1.73,1.73,1.73,1.73,2.91,2.91,2.91,2.91,2.91,2.91,2.91,2.91,2.91,2.91,4.09,5.15,5.15,5.15,5.15]
      }, {
        name: 'Robin',
        data: [1.34,2.94,2.94,4.28,5.56,7.06,8.19,9.6,10.78,12.06,13.28,14.5,15.84,17.06,18.34,20.46,22.06,23.24,23.24,24.3,25.43,26.93,28.66]
      }, {
        name: 'Saif',
        data: [0,1.6,1.6,1.6,1.6,1.6,2.73,2.73,3.91,5.19,5.19,6.41,6.41,7.63,7.63,7.63,7.63,8.81,9.99,11.05,12.18,13.68,13.68]
      }, {
        name: 'Tav',
        data: [1.34,1.34,1.34,2.68,3.96,5.46,6.59,8,9.18,10.46,11.68,12.9,14.24,15.46,16.74,16.74,18.34,19.52,20.7,21.76,22.89,24.39,26.12]
      }]
    })
  })
</script>