<section class="content">
  <h4>8th M20YOH Recap (93rd Ceremony)</h4>
  <p>Congratulations to <strong>Jamie</strong> for his debut victory in the competition, with victory on the very last category. Special mentions to <strong>Ian the Egg Smasher</strong> in 2nd (after leading for the first 22 awards) and <strong>Karen</strong> for 3rd place.</p>
  <p>There were a few surprises on the night - cinematography, original song, and that final best actor award going to Hopkins rather than Boseman.</p>
  <p>In terms of the predictions, it looked like being a 3-horse race from early on between Ian, Karen, and Tav out in front, and only differing on a couple of categories (Best Actress and Cinematography). In fact, they were the only entrants with 100% records left as early as the 2nd category.</p>
  <p>A couple of upsets in the middle of the ceremony saw big jumps for Lewis, Madison, and Shank, but it looked mostly over and done with when Ian clinched the cinematography points. This put him out in front ahead of Karen and Tav for the first time, and with Karen moving into 2nd after correctly predicting McDormand for Actress, it looked like the top three were locked in with just Best Actor (unusually) to go.</p>
  <p>However, the biggest surprise of the night was Hopkins taking the Best Actor award, and with only Jamie predicting that win gave him all 15 points and jumping straight from 7th to 1st at the end.</p>
  <p>This was the first year using this scoring system, which was meant to bring more variety to the scoring, and reward risk-taking. There were a few categories where this paid off (Documentary Short and Original Song had only 2 correct predictions, which scored 7.5 points), but I had never anticipated only one occurence where only <strong>one</strong> person would predict a winning nominee <i>and</i> that it would occur on the very final category, pushing them from 7th to 1st...</p>
  <p>The chart below shows how the scores changed over time from the first category to the end. Click on the legend to hide/unhide lines.</p>

  <figure class="highcharts-figure">
    <div id="container"></div>
  </figure>

  <p>Had the original scoring been in the place (fixed weights given to each category, then there would have been a different outcome. The table below shows the scoreboard based on current and old scoring: </p>
  <table class="table">
    <thead>
      <tr>
        <th>Player</th>
        <th>Score</th>
        <th>Old System*</th>
        <th>Correct Preds</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Jamie</td>
        <td><span style="background-color: gold;">38.59</span></td>
        <td>46</td>
        <td>17</td>
      </tr>
      <tr>
        <td>Ian the Egg Smasher</td>
        <td><span style="background-color: silver;">32.34</span></td>
        <td><span style="background-color: gold;">52</span></td>
        <td><span style="background-color: gold;">19</span></td>
      </tr>
      <tr>
        <td>Karen</td>
        <td><span style="background-color: #cd7f32;">30.34</span></td>
        <td><span style="background-color: silver;">51</span></td>
        <td><span style="background-color: gold;">19</span></td>
      </tr>
      <tr>
        <td>Lewis</td>
        <td>27.36</td>
        <td>36</td>
        <td>14</td>
      </tr>
      <tr>
        <td>Tav</td>
        <td>27.34</td>
        <td><span style="background-color: #cd7f32;">49</span></td>
        <td><span style="background-color: #cd7f32;">18</span></td>
      </tr>
      <tr>
        <td>Caile</td>
        <td>24.34</td>
        <td>47</td>
        <td>17</td>
      </tr>
      <tr>
        <td>Robin</td>
        <td>24.01</td>
        <td>42</td>
        <td>16</td>
      </tr>
      <tr>
        <td>Nahreen</td>
        <td>20.78</td>
        <td>29</td>
        <td>11</td>
      </tr>
      <tr>
        <td>nick</td>
        <td>19.51</td>
        <td>38</td>
        <td>14</td>
      </tr>
      <tr>
        <td>Madison</td>
        <td>19.49</td>
        <td>28</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Shank</td>
        <td>19.09</td>
        <td>23</td>
        <td>7</td>
      </tr>
      <tr>
        <td>Walletandswords</td>
        <td>17.78</td>
        <td>25</td>
        <td>9</td>
      </tr>
      <tr>
        <td>Colman O'Meara</td>
        <td>16.77</td>
        <td>30</td>
        <td>11</td>
      </tr>
      <tr>
        <td>Jack Reacher 2nd Baseman</td>
        <td>16.27</td>
        <td>32</td>
        <td>12</td>
      </tr>
      <tr>
        <td>SNA</td>
        <td>10.97</td>
        <td>21</td>
        <td>7</td>
      </tr>
    </tbody>
  </table>
  <p><em><small>* - 4pts Documentary Short/Documentary Feature/Production Design/Animated Short/Live Action Short<br />3pts Best Film/Cinematography/Costume Design/Film Editing/Score/Song/Foreign Language/Visual Effect<br />
  2pts other categories.</small></em></p>
</section>
<style>td > span { padding: 2px; }</style>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script>
  $(document).ready(function() {
    var chart = Highcharts.chart('container', {
      chart: {
        type: 'line',
        height: 600
      },
      credits: { enabled: false },
      title: {
        text: 'Scores over time'
      },
      yAxis: {
        title: {
            text: 'Points'
        }
      },
      xAxis: {
        categories: ['original screenplay','adapted screenplay','international feature','supporting actor','hair & makeup','costume design','director','sound','live action short','animated short','animated feature','documentary short','documentary feature','visual effects','supporting actress','production design','cinematography','editing','score','song','film','actress','actor'],
        title: {
          text: 'Category'
        },
        labels: {
          rotation: 90
        }
      },
      series: [{
        name: 'Caile',
          data: [1.875,1.875,3.125,4.489,5.642,7.309,8.463,9.963,11.63,13.296,14.45,14.45,15.604,16.854,18.354,19.604,19.604,21.479,22.843,22.843,24.343,24.343,24.343]
        }, {
          name: 'Colman OMeara',
          data: [0,0,0,1.364,1.364,1.364,2.517,4.017,5.684,7.351,8.505,8.505,9.659,10.909,10.909,10.909,10.909,10.909,12.272,12.272,13.772,16.772,16.772]
        }, {
          name: 'Ian the Egg Smasher',
          data: [1.875,4.875,6.125,7.489,8.642,10.309,11.463,12.963,14.63,16.296,17.45,17.45,18.604,19.854,21.354,22.604,27.604,29.479,30.843,30.843,32.343,32.343,32.343]
        }, {
          name: 'Jack reacher 2nd Baseman',
          data: [1.875,1.875,3.125,3.125,4.279,4.279,5.433,6.933,6.933,8.599,9.753,9.753,10.907,12.157,13.657,14.907,14.907,14.907,16.271,16.271,16.271,16.271,16.271]
        }, {
          name: 'Jamie',
          data: [0,3,4.25,5.614,6.767,8.434,9.588,11.088,12.755,14.421,15.575,15.575,16.729,17.979,19.479,20.729,20.729,20.729,22.093,22.093,23.593,23.593,38.593]
        }, {
          name: 'Karen',
          data: [1.875,4.875,6.125,7.489,8.642,10.309,11.463,12.963,14.63,16.296,17.45,17.45,18.604,19.854,21.354,22.604,22.604,24.479,25.843,25.843,27.343,30.343,30.343]
        }, {
          name: 'Lewis',
          data: [1.875,1.875,3.125,4.489,5.642,5.642,6.796,8.296,9.963,9.963,11.117,11.117,11.117,12.367,12.367,13.617,13.617,15.492,16.855,24.355,24.355,27.355,27.355]
        }, {
          name: 'Madison',
          data: [0,0,1.25,1.25,2.404,4.071,5.224,5.224,5.224,5.224,6.378,13.878,13.878,13.878,15.378,16.628,16.628,16.628,17.992,17.992,19.492,19.492,19.492]
        }, {
          name: 'Nahreen',
          data: [0,0,0,1.364,2.517,4.184,5.338,6.838,6.838,8.505,8.505,8.505,9.659,10.909,10.909,10.909,15.909,17.784,17.784,17.784,17.784,20.784,20.784]
        }, {
          name: 'Robin',
          data: [1.875,1.875,3.125,4.489,5.642,5.642,6.796,8.296,9.963,9.963,11.117,11.117,12.271,13.521,15.021,16.271,16.271,18.146,19.509,19.509,21.009,24.009,24.009]
        }, {
          name: 'SNA',
          data: [0,3,4.25,4.25,5.404,5.404,5.404,5.404,5.404,7.071,7.071,7.071,8.224,8.224,9.724,10.974,10.974,10.974,10.974,10.974,10.974,10.974,10.974]
        }, {
          name: 'Shank',
          data: [0,0,0,1.364,1.364,1.364,1.364,1.364,3.03,3.03,4.184,11.684,12.838,12.838,12.838,14.088,19.088,19.088,19.088,19.088,19.088,19.088,19.088]
        }, {
          name: 'Tav',
          data: [1.875,4.875,6.125,7.489,8.642,10.309,11.463,12.963,14.63,16.296,17.45,17.45,18.604,19.854,21.354,22.604,22.604,24.479,25.843,25.843,27.343,27.343,27.343]
        }, {
          name: 'Walletsandswords',
          data: [0,0,1.25,1.25,2.404,4.071,5.224,5.224,5.224,5.224,6.378,6.378,7.532,8.782,8.782,8.782,8.782,8.782,8.782,16.282,17.782,17.782,17.782]
        }, {
          name: 'Nick',
          data: [1.875,1.875,3.125,4.489,5.642,7.309,8.463,8.463,8.463,8.463,9.617,9.617,10.771,12.021,13.521,14.771,14.771,16.646,18.009,18.009,19.509,19.509,19.509]
        }]
    })
  })
</script>