@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Limelight");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  height: 100%;
  width: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  margin: 0 auto;
  max-width: 800px; }

h5 {
  font-size: 1rem; }

.debug {
  background-color: #222;
  border-left: 5px #daa520 solid;
  padding: 5px 0 5em 5px;
  font-family: monospace; }
  .debug pre {
    color: #ccc; }

#err404 {
  background-image: url("../img/dunaway_404.jpg") !important; }
  #err404 .statuscode {
    text-align: center;
    line-height: 1em;
    font-weight: bold;
    font-size: 10em; }
  #err404 .statusdesc {
    text-align: center;
    font-size: 2em; }
  #err404 p {
    margin-top: 1.5em;
    text-align: center; }

.updated {
  display: none; }

footer {
  background-color: black; }
  footer p {
    margin: .7em 1em; }

.btn:hover, .btn:focus {
  text-decoration: none; }

h4 {
  text-align: center;
  margin-bottom: 1.3em;
  font-size: 1.7em; }

h3 {
  text-align: center;
  font-size: 2em; }

.winner td {
  font-weight: bold;
  color: gold; }

.top-pad {
  background-image: url("../img/oscar_hell_sign_v1.jpg");
  background-size: contain;
  background-position: center top;
  background-color: #222;
  background-repeat: no-repeat;
  height: 20vh; }
  .top-pad div {
    text-align: left;
    padding-left: 1em;
    color: #d6c104;
    font-size: 1.2em;
    font-weight: bold; }

@media (min-width: 700px) {
  .top-pad {
    height: 40vh; } }

@media (min-width: 992px) {
  .top-pad div {
    font-size: 2em;
    padding-top: 1em; } }

.top-pad-60 {
  height: 40vh; }

del {
  font-style: italic; }

.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em 1em;
  min-height: 60vh;
  width: 100%;
  color: #333;
  font-size: 1.0em; }

@media (min-width: 700px) {
  .content {
    font-size: 1.3em; } }

.content-cat {
  background-color: #111;
  padding: 0 1em;
  min-height: 60vh;
  width: 100%;
  color: #333;
  font-size: 1.3em;
  border-top: 10px solid gold; }
  .content-cat td {
    vertical-align: middle; }

/* prediction screen */
#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  color: #222;
  padding: 0.8em;
  border-radius: 0.3em;
  z-index: 100; }

.success {
  background-color: yellowgreen; }

.failure {
  background-color: orange; }

div.selected {
  background-color: #63f; }

div.nominee:hover {
  background-color: #a9f; }

div.nominee {
  cursor: pointer; }

nav a:hover {
  text-decoration: none; }

nav div {
  text-align: center; }

nav div:first-child {
  text-align: left; }

nav div:last-child {
  text-align: right; }

.precursors {
  color: #999; }
  .precursors p {
    font-size: 0.7em;
    font-style: italic; }

img.poster {
  width: 70%;
  margin-right: 0;
  text-align: right; }

.roh td, .roh th {
  font-size: 0.8em; }

span.label {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: center;
  color: #333;
  font-size: .6em;
  padding-top: 3em;
  background-color: rgba(51, 51, 51, 0.7);
  cursor: pointer; }
  span.label p {
    margin: 0;
    padding: 0; }
  span.label a {
    margin-top: 1em; }

.card-body .col {
  padding-left: 2px;
  padding-right: 2px; }

@media (min-width: 992px) {
  .nom img {
    max-height: 22vw; }
  span.label {
    font-size: .8em; }
  .col {
    padding-left: 15px;
    padding-right: 15px; } }

#signup-submit {
  display: block;
  margin: .5em auto;
  color: #333; }

.signup-container {
  margin: .5em; }

.sub-label {
  font-size: 80%;
  font-style: italic; }

input#username,
input#email,
input#franchise {
  display: inline-block;
  border: 0;
  border-bottom: 2px #333 solid;
  box-shadow: none;
  height: 3rem;
  width: 75%;
  background-color: inherit;
  color: inherit; }
  input#username:focus,
  input#email:focus,
  input#franchise:focus {
    outline: none;
    border-bottom: 2px solid #fff !important; }

.intrainput {
  display: inline-block;
  margin-left: -4.2rem;
  font-weight: bold;
  min-width: 2.6rem;
  text-align: right; }
  .intrainput.success {
    color: #43ac6a; }
  .intrainput.err {
    color: #f04124; }

.easy-autocomplete-container ul {
  width: 15em;
  list-style-type: none;
  padding-left: .5em;
  font-weight: bold;
  color: orange;
  cursor: pointer;
  background-color: #222; }

#results td {
  border: 0; }

.bar {
  width: 0;
  padding: 3px;
  height: 2em;
  border-radius: 2px;
  background-color: #f04124; }
  .bar.win {
    background-color: #43ac6a; }
