@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css);
@import url("https://fonts.googleapis.com/css?family=Limelight");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  height: 100%;
  width: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #ccc;
  margin: 0 auto;
  max-width: 1200px; }

.debug {
  background-color: #222;
  border-left: 5px #daa520 solid;
  padding: 5px 0 5em 5px;
  font-family: monospace; }
  .debug pre {
    color: #ccc; }

#err404 {
  background-image: url(../img/dunaway_404.jpg) !important; }
  #err404 .statuscode {
    text-align: center;
    line-height: 1em;
    font-weight: bold;
    font-size: 10em; }
  #err404 .statusdesc {
    text-align: center;
    font-size: 2em; }
  #err404 p {
    margin-top: 1.5em;
    text-align: center; }

.updated {
  display: none; }

footer {
  position: fixed;
  bottom: 0;
  background-color: black; }
  footer p {
    margin: 0.7em 1em; }

button.btn:hover, button.btn:focus {
  text-decoration: none; }

h4 {
  text-align: center;
  margin-bottom: 1.3em;
  font-size: 1.7em; }

h3 {
  text-align: center;
  font-size: 2em; }

.winner td {
  font-weight: bold;
  color: gold; }

.top-pad {
  background-image: url(../img/joker_happyface1.jpg);
  background-size: contain;
  background-position: center top;
  background-color: rgba(0, 0, 0, 0.95);
  background-repeat: no-repeat;
  height: 40vh; }
  .top-pad div {
    text-align: center;
    padding-top: 1em;
    color: #222;
    font-size: 1.2em;
    font-weight: bold; }

@media (min-width: 1125px) {
  .top-pad {
    background-position: right top; }
    .top-pad div {
      font-size: 2.5em;
      padding-right: 65%;
      color: #ccc;
      padding-top: 3em; } }

.top-pad-60 {
  height: 60vh; }

del {
  font-style: italic; }

.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2em 1em;
  min-height: 60vh;
  width: 100%;
  color: #ccc;
  font-size: 1.3em; }

.content-cat {
  background-color: #111;
  padding: 0 1em;
  min-height: 60vh;
  width: 100%;
  color: #ccc;
  font-size: 1.3em;
  border-top: 10px solid gold; }
  .content-cat td {
    vertical-align: middle; }

.card {
  background-color: inherit; }

.card-header {
  background-color: inherit;
  border-bottom: 2px solid #777; }
  .card-header button {
    font-size: 1.2em;
    text-decoration: none;
    color: #ccc; }

button.btn-link.opened {
  color: #daa520; }

.nom {
  float: left;
  margin: 0.5em auto 1em auto;
  position: relative; }
  .nom img {
    max-height: 45vw; }

.nopred {
  font-style: italic;
  color: #999; }

.picked {
  border-bottom: 0.7em solid green; }

span.label {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: center;
  color: #ccc;
  font-size: 0.6em;
  padding-top: 3em;
  background-color: rgba(51, 51, 51, 0.7);
  cursor: pointer; }
  span.label p {
    margin: 0;
    padding: 0; }
  span.label a {
    margin-top: 1em; }

.card-body .col {
  padding-left: 2px;
  padding-right: 2px; }

@media (min-width: 992px) {
  .nom img {
    max-height: 22vw; }
  span.label {
    font-size: 0.8em; }
  .col {
    padding-left: 15px;
    padding-right: 15px; } }

#signup-submit {
  display: block;
  margin: 0.5em auto;
  color: #ccc; }

.signup-container {
  margin: 0.5em; }

.sub-label {
  font-size: 80%;
  font-style: italic; }

input#username, input#email, input#franchise {
  display: inline-block;
  border: none;
  border-bottom: 2px #ccc solid;
  box-shadow: none;
  height: 3rem;
  width: 75%;
  background-color: inherit;
  color: inherit; }
  input#username:focus, input#email:focus, input#franchise:focus {
    outline: none;
    border-bottom: 2px solid #fff !important; }

.intrainput {
  display: inline-block;
  margin-left: -4.2rem;
  font-weight: bold;
  min-width: 2.6rem;
  text-align: right; }
  .intrainput.success {
    color: #43AC6A; }
  .intrainput.err {
    color: #f04124; }

select {
  display: inline;
  width: 20em;
  height: 2em; }

.easy-autocomplete-container ul {
  width: 15em;
  list-style-type: none;
  padding-left: 0.5em;
  font-weight: bold;
  color: orange;
  cursor: pointer;
  background-color: #222; }

#results td {
  border: none; }

.bar {
  width: 0;
  padding: 3px;
  height: 2em;
  border-radius: 2px;
  background-color: #f04124; }
  .bar.win {
    background-color: #43AC6A; }
